* Twitter: [@{{ $.Site.Params.widgets.social.twitter }}](https://twitter.com/{{ $.Site.Params.widgets.social.twitter }})
* Mailingliste:
  Jetzt [anmelden](mailto:Meetupliste<meetup-subscribe[at]podcast-muc.de>?subject=Mailingliste%20abonnieren&body=Bitte%20ersetze%20[at]%20in%20der%20Mailadresse%20durch%20das%20@-Zeichen.%20Die%20Nachricht%20selbst%20kann%20leer%20sein%20und%20wird%20automatisch%20verarbeitet.) 
  oder Nachricht [schreiben](mailto:Meetupliste<meetup[at]podcast-muc.de>?body=Bitte%20ersetze%20[at]%20in%20der%20Mailadresse%20durch%20das%20@-Zeichen.)
* Slack: [podcast-muc.slack.com](https://podcast-muc.slack.com/)
* Mail: [{{ $.Site.Params.widgets.social.email }}](mailto:Orga<{{ $.Site.Params.widgets.social.email }}>?body=Bitte%20ersetze%20die%20Unterstriche%20in%20der%20Mailadresse%20durch%20das%20@-Zeichen.) (Organisator:innen)
